{%- comment -%}
  Mobile Menu Drawer
{%- endcomment -%}

<div class="mobile-menu" id="mobile-menu" data-mobile-menu aria-hidden="true">
  <div class="mobile-menu__header">
    <h2 class="mobile-menu__logo">{{ shop.name }}</h2>
    <button class="mobile-menu__close" data-mobile-menu-close aria-label="{{ 'general.accessibility.close' | t }}">
      {% render 'icon-close' %}
    </button>
  </div>
  
  <nav class="mobile-menu__nav">
    {%- for link in linklists.main-menu.links -%}
      {%- if link.links != blank -%}
        <div class="mobile-menu__item mobile-menu__item--has-children">
          <button class="mobile-menu__link mobile-menu__link--parent" data-mobile-submenu-toggle>
            {{ link.title }}
            {% render 'icon-chevron-down' %}
          </button>
          <div class="mobile-menu__submenu">
            <a href="{{ link.url }}" class="mobile-menu__sublink mobile-menu__sublink--all">
              Ver todo {{ link.title }}
            </a>
            {%- for childlink in link.links -%}
              {%- if childlink.links != blank -%}
                <div class="mobile-menu__subgroup">
                  <span class="mobile-menu__subgroup-title">{{ childlink.title }}</span>
                  {%- for grandchildlink in childlink.links -%}
                    <a href="{{ grandchildlink.url }}" class="mobile-menu__sublink">
                      {{ grandchildlink.title }}
                    </a>
                  {%- endfor -%}
                </div>
              {%- else -%}
                <a href="{{ childlink.url }}" class="mobile-menu__sublink">
                  {{ childlink.title }}
                </a>
              {%- endif -%}
            {%- endfor -%}
          </div>
        </div>
      {%- else -%}
        <a href="{{ link.url }}" class="mobile-menu__link">
          {{ link.title }}
        </a>
      {%- endif -%}
    {%- endfor -%}
  </nav>
  
  <div class="mobile-menu__footer">
    {%- if customer -%}
      <a href="{{ routes.account_url }}" class="mobile-menu__footer-link">
        {% render 'icon-user' %}
        {{ 'customer.account.title' | t }}
      </a>
    {%- else -%}
      <a href="{{ routes.account_login_url }}" class="mobile-menu__footer-link">
        {% render 'icon-user' %}
        {{ 'customer.login.title' | t | default: 'Iniciar Sesión' }}
      </a>
    {%- endif -%}
  </div>
</div>

<div class="mobile-menu__overlay" data-mobile-menu-overlay></div>
